.recipes{
  color: #ffff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
  position: relative;
  background-position:center;
}

.recipes__title{
  margin: 0 0 24px;
  font-family: "Inter","Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle{
  margin: 0 0 80px;
  font-family: "Noto Serif", "Time New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__videos{
  display: flex;
  justify-content:center;
  gap: 40px;
  list-style-type: none;
  /*width: 480px;*/
   margin: 0;
  padding-left: 0;

  }

  .recipes__video-item {
   /* width: 480px;*/
  }

  /*.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio
  }*/

  .recipes__iframe {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    border: none;
    height: 273px;
    width: 480px;
  }



.recipes__video-caption{
  margin-top: 24px 0 0;
  font-family: "Inter","Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;

}
